@media only screen and (max-width: 500px) {
  .masthead {
    padding: 3em 0;
  }

  .masthead-heading {
    font-size: 3em;
  }
}

body {
  /* Typography Declarations */
  color: #222222;
  font-size: 1em;
  font-family: "Tahoma", "Helvetica       Neue", sans-serif;
}

.masthead-heading,
.masthead-intro,
.content-footer {
    text-align: center;
}

.masthead {
  padding: 6em 0;
  background-image:    url(https://ununsplash.imgix.net/reserve/xpdPwXTASnOUXFpIPgDs_IMG_1460_edt.jpg?q=75&fm=jpg&s=14f08c0d844035df3c9fea8705d4c38c);
   background-repeat: no-repeat; 
   background-size: cover;
   border-top: solid 1em #FF6F0D;
}

.masthead-intro {
  margin-bottom: 0.8em;
  font-family: "Tahoma",               Georgia, serif;
  font-size: 2em;
  color: #FF6F0D;
}

.masthead-heading {
  margin-top: -0.2em;
  font-family: "Open Sans", "Helvetica       Neue", sans-serif;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #FF6F0D;
}

.introduction > p,
.location > p,
.content-footer > p {
  /* Typography Declarations */
  font-weight: 300;
  letter-spacing: 0.05em;
}

.questions-section > h2 {
    /*Typography Declarations*/
    font-family: "Gentium Book Basic",         Georgia, Serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #FF6F0D;
    text-shadow: 0.5px 0.5px #000000;
}

.content-footer,
.introduction-section,
.location-section,
.questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.social > li {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.content-footer > p {
  color: blue;
   
  }

section > h1 {
  margin-top: 2em;
}

.content-footer {
    max-width: 1200em;
    background-color: #FF6F0D;
    padding: 100px;
}